/ConnectionstringUtil/ConnectionstringUtil/bin
/ConnectionstringUtil/.vs
/ConnectionstringUtil/ConnectionstringUtil/obj
/ConnectionstringUtil/ConnectionstringUtil/Properties/PublishProfiles
ConnectionstringUtil/ConnectionstringUtil/ConnectionstringUtil.csproj.user
